<div class="transport-bar" [class.transport-bar--running]="isRunning">
  <div class="transport-bar__controls">
    <button type="button" class="transport-button transport-button--primary" (click)="onTogglePlay()">
      <mat-icon>{{ isRunning ? 'pause' : 'play_arrow' }}</mat-icon>
      <span>{{ isRunning ? 'Pause' : 'Play' }}</span>
    </button>
    <button type="button" class="transport-button" (click)="step.emit()" [disabled]="status === 'running'">
      <mat-icon>skip_next</mat-icon>
      <span>Step</span>
    </button>
    <button type="button" class="transport-button" (click)="reset.emit()">
      <mat-icon>restart_alt</mat-icon>
      <span>Reset</span>
    </button>
  </div>

  <div class="transport-bar__speed">
    <div class="transport-bar__speed-label">
      <mat-icon>speed</mat-icon>
      <div class="transport-bar__speed-meta">
        <span>Speed</span>
        <small>{{ speed }} fps</small>
      </div>
    </div>
    <input
      type="range"
      min="5"
      max="120"
      step="5"
      [value]="speed"
      (input)="onSpeedInput($event)"
    />
  </div>
</div>
