<header class="header">
  <div class="header__logo" aria-label="AutomataJS">
    <img class="header__logo-icon" src="assets/automatajs.svg" alt="" aria-hidden="true" />
    <small class="header__subtitle">Shader-driven automata sketches</small>
    <span class="sr-only">AutomataJS</span>
  </div>
  <a
    class="header__github"
    href="https://github.com/bisignam/automatajs"
    target="_blank"
    rel="noopener"
    aria-label="Open AutomataJS on GitHub"
  >
    <img class="header__github-icon" src="assets/github.svg" alt="" aria-hidden="true" />
    <span>GitHub</span>
  </a>
</header>
