<mat-toolbar id="headerContainer" class="p-0">
  <div class="container-fluid p-0">
    <div id="headerContainerContainer" class="row p-0">
      <div class="col-sm-2 p-0">
        <mat-icon class="automataIcon" inline="true" svgIcon="automatajs"></mat-icon>
      </div>
      <div class="col-sm-9 p-0"></div>
      <div class="col-sm-1 p-0">
        <a href="https://github.com/bisignam/automatajs">
          <mat-icon class="text-right githubIcon" inline="true" svgIcon="github"></mat-icon>
        </a>
      </div>
    </div>
  </div>
</mat-toolbar>
