<div id="mainScreen" class="container-fluid">
  <div id="header" class="row p-0">
    <div id="headerColumn" class="col-sm-12 p-0">
      <app-header></app-header>
    </div>
  </div>
  <div id="gridColorChosers" class="row mb-2">
    <div class="col-sm-1"></div>
    <div id="gridColorChoserColumn" class="col-sm-10">
      <span>Background: </span>
      <app-color-picker [color]="backgroundColor.toRgbaString()" (chosenColor)="onBackgroundColorChosen($event)">
      </app-color-picker>
      <span class="ml-3">Grid: </span>
      <app-color-picker [color]="gridColor.toRgbaString()" (chosenColor)="onGridColorChosen($event)"></app-color-picker>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div id="p5CanvasRow" class="row row-fluid">
    <div class="col-sm-1"></div>
    <div id="p5CanvaColumn" class="col-sm-10">
      <app-automata-canvas></app-automata-canvas>
    </div>
    <div class="col-sm-1">
      <app-automata-cell-size-slider></app-automata-cell-size-slider>
    </div>
  </div>
  <div id="automataColorsChosersRow" class="row row-fluid mt-2">
    <div class="col-sm-1"></div>
    <div id="automataColorsChosersColumn" class="col-sm-10">
      <span>Active: </span>
      <app-color-picker [color]="activationColor.toRgbaString()" (chosenColor)="onActivationColorChosen($event)">
      </app-color-picker>
      <ng-container *ngFor="let colorType of getAdditionalColorsForAutomata()">
        <span class="ml-3">{{colorType.name}}: </span>
        <app-color-picker [color]="colorType.color.toRgbaString()"
          (chosenColor)="onAutomataColorChosen(colorType.name, $event)"></app-color-picker>
      </ng-container>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div id="automataControlsRow" class="row row-fluid">
    <div class="col-sm-1 col-md-2"></div>
    <div class="col-sm-10 col-md-8 mt-1">
      <app-automata-control></app-automata-control>
    </div>
    <div class="col-sm-1 col-md-2"></div>
  </div>
</div>
