#headerRow {
  height: 5%;
}

#canvasRow {
  height: 85%;
}

#automataColorsChosersRow {
  height: 5%;
}

#automataControlsRow {
  height: 5%;
}

#canvasColumn {
  max-width: 100%;
  max-height: 100%;
}

#headerColumn {
  max-width: 100%;
  max-height: 100%;
}
