<div
  class="automata-canvas-wrapper"
  [class.automata-canvas-wrapper--painting]="isPainting || isCursorOverCanvas"
>
  <div class="canvas-frame-top">
    <button
      *ngIf="!isImmersive && !showIdleCountdown"
      #enterImmersiveBtn
      type="button"
      class="canvas-mode-handle canvas-mode-handle--enter"
      aria-label="Enter immersive mode"
      (click)="onEnterImmersiveClick()"
      (mouseenter)="onEnterImmersiveHover(true, enterImmersiveBtn)"
      (mouseleave)="onEnterImmersiveHover(false, enterImmersiveBtn)"
      (focusin)="onEnterImmersiveHover(true, enterImmersiveBtn)"
      (focusout)="onEnterImmersiveHover(false, enterImmersiveBtn)"
    >
      <lucide-icon name="eye" class="canvas-mode-handle__icon" size="16"></lucide-icon>
      <span class="canvas-mode-handle__label">Immersive mode</span>
    </button>
  </div>
  <button
    #screenshotButton
    type="button"
    class="canvas-screenshot-btn"
    aria-label="Export image"
    (click)="onExportImage()"
    (mouseenter)="onScreenshotHover(true, screenshotButton)"
    (mouseleave)="onScreenshotHover(false, screenshotButton)"
    (focusin)="onScreenshotHover(true, screenshotButton)"
    (focusout)="onScreenshotHover(false, screenshotButton)"
  >
    <lucide-icon name="camera" size="16"></lucide-icon>
  </button>
  <canvas
    #automataCanvasContainer
    id="automataCanvasContainer"
    class="automata-canvas"
    (mousedown)="onCanvasMouseDown($event)"
    (mouseup)="onCanvasMouseUp($event)"
    (mouseleave)="onCanvasMouseLeave($event)"
    (mouseenter)="onCanvasMouseEnter()"
    (mousemove)="onCanvasMouseMove()"
  ></canvas>
</div>
