<div
  class="automata-canvas-wrapper"
  [class.automata-canvas-wrapper--painting]="isPainting || isCursorOverCanvas"
>
  <button
    #screenshotButton
    type="button"
    class="canvas-screenshot-btn"
    aria-label="Export image"
    (click)="onExportImage()"
    (mouseenter)="onScreenshotHover(true, screenshotButton)"
    (mouseleave)="onScreenshotHover(false, screenshotButton)"
    (focusin)="onScreenshotHover(true, screenshotButton)"
    (focusout)="onScreenshotHover(false, screenshotButton)"
  >
    <lucide-icon name="camera" size="16"></lucide-icon>
  </button>
  <canvas
    #automataCanvasContainer
    id="automataCanvasContainer"
    class="automata-canvas"
    (mousedown)="onCanvasMouseDown($event)"
    (mouseup)="onCanvasMouseUp($event)"
    (mouseleave)="onCanvasMouseLeave($event)"
    (mouseenter)="onCanvasMouseEnter()"
    (mousemove)="onCanvasMouseMove()"
  ></canvas>
</div>
