/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, Arial, sans-serif;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.flex-fill {
  flex:1 1 auto;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
